<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary nav-underline border-bottom">
    <div class="container-fluid justify-content-lg-center flex-lg-column align-items-lg-center">
      <img id="myImage" src="../../../assets/imgs/Profile-SemFundo.png" alt="homem de caimseta amarela sorrindo" >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="projects" routerLinkActive="active">Projetos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
