header {
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(11, 11, 11, 0.1);
    height: 90%;
}

nav {
    background-color: transparent !important;
}

i {
    color: var(--cinza-azulado);
    font-size: 2.0em;
}

#myImage {
    /* width: 100px; */
    border-radius: 50%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.nav-link {
    font-size: xx-large;
    font-weight: bolder;
    color: var(--cinza-azulado);
}

.nav-link:hover {
    color: var(--cinza-dark) !important;
}

.nav-link:focus {
    color: var(--cinza-dark) !important;
}

.navbar-mobile {
    display: none;
}

/* Mostra a navbar mobile na versão mobile */
@media (max-width: 992px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }

    header {
        height: 100%;
    }
}