@import url('./fonts.css');
@import url('./cores.css');

*{
    font-family: 'Arimo', sans-serif;
}

body{
    background-color: var(--cinza-clarinho);
    height: 100vh;
    display: flex;
    align-items: center;
}