<main class="container d-flex align-items-center justify-content-center">
    <div>
        <p id="firstParagraphy">Oi, eu sou o lucas</p>
        <h2 class="display-1">Back-end</h2>
        <div class="d-flex align-items-end">
            <h2 class="display-1">Developer</h2>
            <a href="https://www.linkedin.com/in/lucas-ferreira-nogueira/" target="_blank" rel="noopener noreferrer">
                <i data-bs-toggle="tooltip" data-bs-title="Linkedin" class="bi bi-linkedin mx-1"></i>
            </a>
            <a href="https://github.com/RudeBoyOne" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github mx-1"></i>
            </a>
            <a href="./assets/files/CV - Lucas.Nogueira.pdf" download="CV - Lucas.Nogueira.pdf">
                <i class="bi bi-file-earmark-arrow-down-fill mx-1"></i>
            </a>
        </div>
        <p id="paragraphyPrincipal">Tenho 29 anos sou desenvolvedor back-end java, adoro desenvolver API's REST e micro serviços utilizando do SpringBoot e Quarkus, possuo mais de 1 ano de experiência como desenvolvedor freelancer</p>
    </div>
</main>