<main class="container w-50 d-flex align-items-center justify-content-center">
    <div>
        <p id="firstParagraphy">Oi, eu sou o Lucas</p>
        <h2 class="display-1">Back-end</h2>
        <div class="d-flex align-items-end">
            <h2 class="display-1">Developer</h2>
            <a href="https://www.linkedin.com/in/lucas-ferreira-nogueira/" target="_blank" rel="noopener noreferrer">
                <i data-bs-toggle="tooltip" data-bs-title="Linkedin" class="bi bi-linkedin mx-1"></i>
            </a>
            <a href="https://github.com/RudeBoyOne" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github mx-1"></i>
            </a>
            <a href="./assets/files/curriculo_LucasFerreiraNogueira.pdf" download="curriculo_LucasFerreiraNogueira.pdf">
                <i class="bi bi-file-earmark-arrow-down-fill mx-1"></i>
            </a>
        </div>
        <p id="paragraphyPrincipal">Sou um desenvolvedor back-end entusiasta por criar soluções robustas, escaláveis e
            de alta performance, utilizando tecnologias como Spring Boot e Quarkus para desenvolver APIs REST eficientes
            e inovadoras.
            Possuo domínio e/ou certificações em Spring Boot, Quarkus, AWS, MySQL, Linux e Git. Além das habilidades
            técnicas, sou proativo, com forte capacidade de resolução de problemas, excelente comunicação e gosto de
            colaborar em ambientes dinâmicos e desafiadores.
            Atualmente, curso Desenvolvimento de Software Multiplataforma na Fatec - CPS.</p>
    </div>
</main>